*
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body
{
    /* margin: 0 60px; */
}



nav
{
    margin: 1em 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a
{
    color: white;
    font-weight: bold;
}
.left, .right
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left
{
    gap: 1em;
}

.right
{
    gap: 2em;
}

.left a, .right a
{
    /* background-color: red; */
    padding: 10px 10px;
    border-radius: 10px;
}
.left a:hover, .right a:hover
{
    background-color: white;
    color: coral;
}
.right a:last-child
{
    background-color: #00CA4E;
    color: white;
}

header
{
    background-color: coral;
    display: flex;
    align-items: center;
}

table
{
    /* width: 100%; */
    border-collapse: collapse;
}
th, td
{
    border: 1px solid #ddd;
    /* padding: 8px; */
    text-align: left;
}
th
{
    background-color: #f2f2f2;
}
.categoryName
{
    font-weight: bold;
}
.edit-category-header
{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .neworder
{
    display: flex;
    flex-direction: row;
    width: 100%;
} */


.green
{
    background-color: #00CA4E;
    color: white;
}
.red
{
    background-color: #FF605C;
    color: white;
}
.orange
{
    background-color: #FFBD44;
    color: white;
}
.edit
{
    padding: 5px 5px;
    border-radius: 5px;
}

button
{
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1em;
}

button:hover
{
    cursor: pointer;
    opacity: 90%;
}

.input-submit
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type=text],input[type=number], select
{
    /* width: 100%; */
    /* min-width: 300px; */
    padding: 10px 10px;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
