*
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header
{
    background-color: orange;
    display: flex;
    align-items: center;
    gap: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.edit-category-header
{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

button
{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1em;
}
button:hover
{
    cursor: pointer;
}
.button-create
{
    background-color: #00CA4E;
}
.button-update
{
    background-color: #FFBD44;
}
.button-delete
{
    background-color: #FF605C;
}

.neworder
{
    background-color: #b09b73;
    display: flex;
    flex-direction: row;
}
.menulist
{
    background-color: #878787;

}
.cart
{
    background-color: #4d4d4d;
}