th, td
{
    padding: 5px 10px;
}


.menuNama, .menuDesc
{
    min-width: 300px;
    padding: 5px 10px;

    /* background-color: red; */
}
.menuHarga
{
    width: 60px;
    text-align: center;
}

.addToCartCell
{
    padding: 0;
}

.categoryRow
{
    background-color: #ddd;
}

.button-addToCart
{
    width: 100%;
    border-radius: 0;
}